.j-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}
.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  padding: 100px 0;
  &.container-fluid {
    padding:100px 0;
  }
  @media (max-width:1024px) {
   padding: 40px 0;         
  }
}

.title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  color: var(--title);
  @media (max-width: 1024px) {
    font-size: 24px;
  }
}
.subtitle {
  margin: 20px auto 0;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  max-width: 776px;
  color: var(--text);
  @media (max-width: 1024px) {
    margin: 16px 0 0;
    font-size: 16px;
    line-height: 145%;
  }
}
.block {
  margin: 48px 0 0;
  @media (max-width:1024px) {
   margin: 24px 0 0;         
  }
}
