@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes filter {
  0% {
    margin: 0 0 0 0;
  }
  50% {
    margin: 0 0 88px 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    margin: 0 0 48px 0;
  }
}

@keyframes fromTop {
  0% {
   top:30%;
   opacity: 0;
   visibility: hidden;
  }
  100% {
    top:50%;
    opacity: 1;
    visibility: visible;
  }
}