@import 'reset';
@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'framework';
@import 'keyframes';

@import 'bootstrap';
.container-fluid {
  max-width: 1440px;
  margin: 0 auto;
}

.full-container {
  width: 100%;
  margin: 0 auto;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
.main {
  font-family: 'Montserrat', sans-serif;
  color:var(--title);
  &.jobs {
    padding: var(--padding-main) 0 0;
    .main-screen {
      height: calc(94vh - var(--padding-main));
      background: url(../images/man.svg);
      background-repeat: no-repeat;

      background-position: center 130%;
      @media (max-width: 1440px) {
        background-size: 64%;
      }
      .jobs__title {
        color: var(--accent);
        margin: 0 0 20px 0;
        font-weight: 600;
        font-size: 48px;
      }
      .jobs__subtitle {
        font-weight: 600;
        font-size: 36px;
        color:var(--black)
      }
    }
    .blue-bg {
      max-width: initial;
      background: radial-gradient(
        43.75% 46.91% at 50% 48.67%,
        #0859a9 0%,
        #04417c 100%
      );
      background-repeat: no-repeat;
      padding: 100px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      background-size: contain;
      background-position: center center;
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100px;
        background: url(../images/b.svg);
        top: -99px;
        background-repeat: no-repeat;
        background-position: center center;
        left: 0;
      }
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100px;
        background: url(../images/b-2.svg);
        bottom: -99px;
        background-repeat: no-repeat;
        background-position: center center;
        left: 0;
      }
      .text__content {
        max-width: 784px;
        text-align: center;
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .title {
          font-weight: 600;
          margin: 0 0 32px 0;
          font-size: 36px;
          color:#fff;
        }
        .desc {
          text-align: center;
          font-size: 22px;
          font-weight: 400;
          p {
            text-align: center;
          }
        }
      }
    }
    .gray-bg {
      background: var(--blue);
      max-width: initial;
    }
    .banner {
      display: flex;
      margin: auto;
      position: relative;
      z-index: 2;
      background-color: var(--white);
      box-shadow: 0px 10px 50px rgba(145, 161, 171, 0.15);
      border-radius: 10px;
      .banner__item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 52px 0;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        &:last-child {
          border: none;
        }
        .item__number {
          color: var(--accent);
          font-size: 48px;
          font-weight: 400;
          line-height: 1;
          margin: 0 0 32px 0;
        }
        .item__name {
          color: var(--black);
          font-weight: 600;
          font-size: 22px;
        }
      }
    }
    .features {
      grid-gap: 30px;
      .grid__item {
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
        box-shadow: 0px 10px 25px rgba(145, 161, 171, 0.25);
        background: var(--white);
        border-radius: 10px;
        &:hover {
          box-shadow: 0px 0px 0px transparent;
        }
        .item__img {
          width: 100px;
          height: 100px;
          margin: 0 0 32px 0;
        }
        .item__name {
          font-size: 22px;
          font-weight: 600;
          line-height: 30px;
          text-align: center;
       
          color: var(--title);
        }
      }
    }
    .hiring {
      padding: 100px 0 0;

      .block {
        grid-gap: 0;
        .grid__item {
          position: relative;
          height: 470px;
          padding: 24px 109px;
          display: flex;
          align-items: flex-end;
          @media (max-width: 1440px) {
            height: 330px;
          }
          &:hover {
            .item__name {
              background: rgba(3, 79, 154, 0.8);
              color: var(--white);
            }
          }
          .item__name {
            margin: auto 0 0;
            padding: 24px;
            width: 100%;
            bottom: 24px;
            z-index: 2;
            border-radius: 4px;
            transition: 0.5s;
            backdrop-filter: blur(15px);
            background: rgba(255, 255, 255, 0.9);
            text-align: center;
            font-weight: 600;
            font-size: 22px;
          }
        }
      }
    }
    .person {
      .person__wrapper {
        max-width: 970px;
        margin: 48px auto 0;
        display: flex;
        .grid__item {
          position: relative;
          overflow: hidden;
          @supports (aspect-ratio: 1) {
            aspect-ratio: 1;
          }
          &:hover {
            .item__info {
              .item__hidden {
                opacity: 1;
              }
              .item__name {
                max-height: initial;
                width: 100%;
                height: 100%;
                bottom: 0;
                padding: 48px 0;
              }
            }
          }
          img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .item__info {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            .item__hidden {
              width: 100%;
              text-align: center;
              max-width: 340px;
              margin: auto;
              display: flex;
              flex-direction: column;
              align-items: center;
              position: absolute;
              left: 50%;
              padding: 48px 0 0;
              transform: translateX(-50%);
              z-index: 2;
              height: 100%;
              opacity: 0;
              transition: 0.4s;
              .item__position {
                position: absolute;
                bottom: 87px;
                font-size: 16px;
                font-weight: 500;
              }
              .item {
                margin: 0 0 24px 0;
                font-weight: 500;
                font-size: 18px;
                text-align: center;
                span {
                  font-weight: 600;
                }
                &:last-child {
                  margin: 0;
                }
              }
            }
            .item__name {
              padding: 24px;
              background: rgba(255, 255, 255, 0.9);
              backdrop-filter: blur(15px);
              border-radius: 4px;
              width: 90%;
              position: absolute;
              bottom: 24px;
              text-align: center;
              left: 50%;
              height: 0%;
              min-height: 80px;
              transform: translateX(-50%);
              font-weight: 600;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              font-size: 22px;
              transition: 0.5s;
            }
          }
        }
      }
    }
    .round__wrapper {
      margin: 60px 0 0;
      .round__content {
        display: flex;
        justify-content: space-between;
        &.bottom {
          max-width: 1230px;
          justify-content: space-evenly;
          margin: auto;
        }
        .round__item {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 280px;
          .item__title {
            font-size: 22px;
            margin: 0 0 12px 0;
            font-weight: 600;
            text-align: center;
          }
          .item__text {
            text-align: center;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
      .svg__wrapper {
        margin: 42px 0;
      }
    }
    .round__col {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 24px 0 0;
      .round__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 84px 0;
        position: relative;
        &:last-child {
          margin: 0;
          &:after {
            content: none;
          }
        }
        &:after {
          content: '';
          position: absolute;
          height: 60px;
          width: 2px;
          background: url(.././images/dash.svg);
          background-repeat: no-repeat;
          background-size: cover;
          bottom: -67px;
        }
        .round__number {
          color: var(--accent);
          font-weight: 600;
          font-size: 36px;
          width: 100px;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 0 20px 0;
          border-radius: 50%;
          box-shadow: 0px 10px 25px rgba(145, 161, 171, 0.25);
        }
        .round__content {
          max-width: 300px;
          .round__title {
            font-weight: 600;
            font-size: 18px;
            text-align: center;
            margin: 0 0 12px 0;
          }
          .round__text {
            font-size: 14px;
            font-weight: 500;
            text-align: center;
          }
        }
      }
    }
    .round-svg {
      width: 100%;
    }
    .faq__wrapper {
      max-width: 1220px;
      margin:48px auto 0 auto;
      .faq__item {
        cursor: pointer;
        &.active {
          svg {
            .plus {
              display: none;
            }
          }
        }
        .faq__title {
          padding: 28px 0;
          font-size: 22px;
          font-weight: 600;
          line-height: 30px;
          border-bottom: 1px solid rgba(29, 29, 29, 0.15);
          display: flex;
          color:var(--title);
          align-items: center;
          justify-content: space-between;
          span {
           display: block;
           max-width: 1095px;
          }
        }
        .faq__content-wrapper {
          height: 0;
          overflow: hidden;
          transition: 0.5s;
          .faq__content {
            padding: 2rem;
            line-height:145%;
            font-size: 18px;
          }
        }
      }
    }
  }
}

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  font-family: 'Montserrat', sans-serif;
  display: none;
  &.active {
    display: block;
  }
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    background: #000;
    opacity: 0.4;
  }
  .modal__vacancy {
    max-width: 1440px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    width: 100%;
    flex: 1 1 80%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    .close {
      position: absolute;
      right: 24px;
      top: 24px;
      cursor: pointer;
      padding: 10px;
      background: var(--white);
      border-radius: 50%;
      z-index: 2;
    }
    .vacancy__content {
      background: var(--white);
      padding: 60px;
      flex: 1 1 80%;
      .content__link {
        background: var(--accent);
        display: inline-flex;
        border-radius: 5px;
        position: relative;
        margin: 40px 0 0;
        a {
          padding: 20px 24px;
          display: block;
          color: var(--white);
          font-size: 16px;
          font-weight: 600;
          text-decoration: none;
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
        }
        .arrow {
          padding: 0 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: -1;
          position: relative;
          border-left: 1px solid #1160ae;
        }
      }
    }
    .vacancy__image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
